# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environments
venv/
env/
.venv/

# Environment variables and secrets
.env
.env.*

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Python distribution/build files
build/
dist/
*.egg-info/

# Logs
*.log
